<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lovely shops</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="first_row">
                <div class="contacts">
                    <a href="tel:+784957486261">8 495 748 62 61</a>
                    <span>Пн-Пт с 10 до 20</span>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Скидки</a></li>
                        <li><a href="#">Гарантии</a></li>
                        <li><a href="#">Консультации</a></li>
                    </ul>
                </nav>
                <div class="login_block"><a href="#">Войти на сайт</a><div class="cart"></div></div>
                <div class="cart"><a href="#"><img src="img/bag.png" alt="cart"> <span>2</span></a></div>
            </div>
            <div class="second_row"></div>
            <hr>
            <div class="third_row">
                <nav>
                    <ul>
                        <li>
                            <a href="#">Бренды</a>
                            <a href="#">Для волос</a>
                            <a href="#">Для лица</a>
                            <a href="#">Для рук</a>
                            <a href="#">Для ног</a>
                            <a href="#">Для тела</a>
                            <a href="#">Аксессуары</a>
                            <a href="#">Парфюмерия</a>
                            <a href="#">Для мужчин</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div id="demo">
	            <div id="owl-demo" class="owl-carousel">
	                <div class="item"><img src="img/slide-1.jpg" alt="">
	                <div class="al">
	                	<div class="DemoText1">Kerastase <br/><span>––</span></div>
	                	<div class="DemoText2 clearfix">Подарите новую жизнь Вашим волосам</div>
	                	<div class="DemoItem"><img src="img/product.png" alt=""></div>
	                </div>
	                <div class="btn2"><div class="text">подробнее</div></div>
	                </div>
	                <div class="item"><img src="img/slide-2.jpg" alt="">
	                   <div class="al">
	                	<div class="DemoText1">Kerastase <br/><span>––</span></div>
	                	<div class="DemoText2 clearfix">Подарите новую жизнь Вашим волосам</div>
	                	<div class="DemoItem">
	                	    <img src="img/product.png" alt="">
	                    </div>
	                </div>
	                <div class="btn2"><div class="text">подробнее</div></div>
	                </div>
	                <div class="item"><img src="img/slide-2.jpg" alt="">
	                <div class="al">
	                	<div class="DemoText1">Kerastase <br/><span>––</span></div>
	                	<div class="DemoText2 clearfix">Подарите новую жизнь Вашим волосам</div>
	                	<div class="DemoItem"><img src="img/product.png" alt=""></div>
	                </div>
	                <div class="btn2"><div class="text">подробнее</div></div>
	                </div>            
	        </div>
	    

	    </div>
            <div class="goods">
                <div class="first-row">                   
                    <div class="prod1">
                        <div class="link i1"><div class="text">Популярные бренды</div><a href="#"><div class="btn1"><img src="img/arr.png" alt=""></div></a></div>
                    </div>
                    <div class="prod2">
                        <div class="link i2"><div class="text">Уход за волосами</div><a href="#"><div class="btn1"><img src="img/arr2.png" alt=""></div></a></div>
                    </div>
                    <div class="prod3">
                        <div class="link i3"><div class="text">Товары для мужчин</div><a href="#"><div class="btn1"><img src="img/arr3.png" alt=""></div></a></div>
                    </div>
                </div>
                <div class="second-row">
                    <div class="prod1 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod2 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod3 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                </div>
                <div class="third-row">
                    <div class="prod1 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod2 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod3 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                </div>
                <div class="fourth-row">
                    <div class="prod1 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod2 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="prod3 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                </div>
                <div class="fifth-row">
                    <div class="prod1 item">
                        <div class="ItemSpec">
                        <div class="head clearfix">Cloud Nine Touch</div> 
                        <div class="text">Сенсорный стайлер для выпрямления волос</div> </div>
                        <div class="coast">13 216 руб</div>
                        <a href="#"><div class="btn1"><img src="img/bag.png" alt=""><img src="img/wbag.png" alt=""></div></a>
                    </div>
                    <div class="item it11">
                        <div id="demo1">
                            <div id="owl-demo1" class="owl-carousel">
                                <div class="item"><img src="img/slider2-1.jpg" alt="slide1"></div>
                                <div class="item"><img src="img/slider2-2.jpg" alt="slide2"></div>
                                <div class="item"><img src="img/slider2-1.jpg" alt="slide3"></div>            
                            </div>
                        </div>
                        <div class="ItemSpec1">
                            <div class="head">Интернет-магазин профессиональной косметики</div> 
                            <div class="text">Дорогой посетитель, мы рады пригласить Вас в прекрасный мир высококачественной и профессиональной косметики!</div>
                            <div class="text">На просторах нашего магазина вас ждет обширный выбор продукции для лица, тела, рук, ногтей, волос, различные эксклюзивные обертывания.
                            </div>
                        </div>
			        </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-wrapper">
                <div class="column rights">@ 2010-2016 <br>Интернет-магазин профессиональной косметики. <br>Все права защищены.</div>
                <div class="column">
                    <ul>
                        <li><a href="#">О&nbsp;нас</a></li>
                        <li><a href="#">О магазине</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="#">Помощь</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Статус заказа</a></li>
                        <li><a href="#">Консультации</a></li>
                        <li><a href="#">Скидки</a></li>
                        <li><a href="#">Оптовым покупателям</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">Подлинность продукции</a></li>
                        <li><a href="#">Конфиденциальность</a></li>
                        <li><a href="#">Договор оферты</a></li>
                        <li><a href="#">Правила продажи</a></li>
                        <li><a href="#">Поставщики</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#"><img src="img/partner.png" alt=""></a></li>
                        <li><a href="#">Подарочные сертификаты</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="#">Мы&nbsp;в&nbsp;соцсетях</a></li>
                        <li>
                            <div class="soc">
                                <a href="#"><div class="btn1"><img src="img/inst.png" alt=""></div></a> 
                                <a href="#"><div class="btn1 another"><img src="img/vk.png" alt=""></div></a> 
                                <a href="#"><div class="btn1"><img src="img/fb.png" alt=""></div></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/script.js"></script>

</body>
</html>