body {
	background-color:#f7f7f7;
	font-family:Candara;
	line-height:21px;
	font-size:0.875em;
	color:#000;
	padding:0;
	margin:0;
}
a {
	font-family:Candara;
	text-decoration:none;
	color:#192129;
}
/* ШАПКА */
.wrapper {
	margin: 0px auto;
	max-width: 1240px;
	width:100%;
}
.topbar {
	overflow: hidden;
	padding: 5px;
	font-size:0.813em;
}
.topbar span {
	color:blue;
}
.topbar p {
	max-width:1200px;
	width:100%;
	margin:0 auto;
	padding:0;
}
.header {
	max-width:1200px;
	width:100%;
	text-align:center;
	padding-bottom:5px;
	background-color:#000;
	background-image:url(images/logo2.png);
	background-size:100%;
	background-repeat:no-repeat;
}
.hedimg {
	text-align:left;
	padding:20px;
	color:white;
	padding-left:125px;
}
.h {
	text-align:right;
	margin-top:60px;
}
nav {
	display:block;
	color:white;
	text-align:center;
	font-size:1.000em;
	border-top:1px solid #fff;
	border-radius:5px;
	box-shadow:inset 0 5px 5px #000;
}
nav a {
	color:white;
	font-family:Arial;
	padding:9px;
}
nav > ul > li {
	display:inline-block;
	list-style-type:none;
	margin-right:20px;
	padding:5px;
	border:1px solid #000;
	border-radius:5px;
}
.activ-blue {
	background-color:#36a9e0;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-b:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #36a9e0;
	border-radius:5px;
}
.activ-orange {
	background-color:#f39200;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-o:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #f39200;
	border-radius:5px;
}
.activ-green {
	background-color:#006532;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-g:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #006532;
	border-radius:5px;
}
.activ-red {
	background-color:#e30513;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-r:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #e30513;
	border-radius:5px;
}
.activ-yellow {
	background-color:#c99d66;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-y:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #c99d66;
	border-radius:5px;
}
.activ-lblue {
	background-color:#302683;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-lb:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #302683;
	border-radius:5px;
}
.activ-lgreen {
	background-color:#95c11e;
	color:#fff;
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
}
nav li .activ-lg:hover {
	background-color:#000;
	color:#fff;
	padding:8px;
	border:1px solid #95c11e;
	border-radius:5px;
}
/* ШАПКА */

/*КОНТЕНТ*/
.content {
	background-color:white;
	padding-top:30px;
	padding-bottom:30px;
	max-width:1200px;
	width:100%;
}
.content h2 {
	text-align:center;
}
.column {
	max-width:280px;
	width:100%;
	float:left;
	display:inline;
	margin:10px;
	margin-bottom:50px;
	text-align:center;
	border-bottom:1px solid #486375;
}
.column p {
	font-size:1.125em;
}
.img {
	background-image:url(images/vizitka.png);
	background-size: cover; 
	display:block;
	width:280px;
	height:200px;
	border-radius:5px;
}
.img:hover {
	background-image:url(images/vverh.png);
	background-size: cover; 
	transition:250ms;
}
.img1 {
	background-image:url(images/corpor.png);
	background-size: cover; 
	display:block;
	width:280px;
	height:200px;
	border-radius:5px;
}
.img1:hover {
	background-image:url(images/vverh1.png);
	background-size: cover; 
	transition:250ms;
}
.img2 {
	background-image:url(images/mag.png);
	background-size: cover; 
	display:block;
	width:280px;
	height:200px;
	border-radius:5px;
}
.img2:hover {
	background-image:url(images/vverh2.png);
	background-size: cover; 
	transition:250ms;
}
.img3 {
	background-image:url(images/lang.png);
	background-size: cover; 
	display:block;
	width:280px;
	height:200px;
	border-radius:5px;
}
.img3:hover {
	background-image:url(images/vverh3.png);
	background-size: cover; 
	transition:250ms;
}
.text_servis {
	max-width:900px;
	width:100%;
	border-radius:10px;
	margin:0 auto;
	padding:20px 0;
}
.text_servis p {
	text-indent:30px;
}
.text_servis ul {
	list-style-image:url(images/galochka.png);
}
h1, h3 {
	text-align:center;
}
h3 img {
	border-radius:10px;
	box-shadow:0 0 10px #000;
}
.down {
	margin:0 auto;
	width:150px;
	text-align:center;
	padding:5px;
	background-color:#312287;
	border-radius:10px;
	border: 2px solid #00abe4;
}
.down a {
	color:white;
}
.down:hover {
	background-color:#009735;
	border: 2px solid #7dc200;
}
.down a:hover {
	text-decoration:underline;
}
.prew {
	width:120px;
	text-align:center;
	padding:3px;
	border-radius:10px;
	border: 2px solid #00abe4;
	float:left;
}
.prew a {
	font-size:10px;
}
.prew a:hover {
	text-decoration:underline;
}
.next {
	width:120px;
	text-align:center;
	padding:3px;
	border: 2px solid #7dc200;
	border-radius:10px;
	float:right;
}
.next a {
	font-size:10px;
}
.next a:hover {
	text-decoration:underline;
}
/*КОНТЕНТ*/

/*БЛОК УСЛУГ*/
.gallery {
  max-width: 1100px;
  width:100%;
  margin:0 auto;
}
.images {
	max-width: 1100px;
	width:100%;
	margin:0;
	padding:0;
	list-style: none;
	transition: margin-left 250ms;
}
.gallery li {
	max-width:270px;
	width:100%;
	display: inline-block;
	text-align:center;
}
.gallery li:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
figure {
	max-width:200px;
	width:100%;
	border:1px solid #000;
	border-radius:5px;
	text-align:center;
}
figcaption {
	width:100%;
	font-family:Arial;
	font-size:1.250em;
	color:#192129;
	margin-bottom:10px;
}
/*БЛОК УСЛУГ*/

/*ФУТЕР*/
.footer {
	max-width:1200px;
	width:100%;
	color:white;
	margin-top:0;
	background-image:url(images/fon.jpg);
	background-size: cover; 
	display:inline-block;
	padding-top:20px;
}
.info {
	max-width:260px;
	width:100%;
	max-height:200px;
	height:auto;
	float:left;
	padding:10px;
	margin:10px;
	background-color:rgba(245,245,245,0.3);
	border-radius:10px;
	text-align:center;
}
.info p {
	line-height:1.5;
	padding:15px;
	font-size:1.875em;
	font-weight:bold;
}
/*ФУТЕР*/

/*ИНФО*/
.informat {
	max-width:1200px;
	width:100%;
	margin-top:30px;
	border-top:2px solid #000;
}
.informat a {
	font-family: Arial;
}
.informat p {
	text-align:right;
}
.left {
	float:left;
	max-width: 800px;
	width:100%;
}
.left img {
	float:left;
}
.left ul {
	text-align:right;
	list-style-type:none;
	padding-top: 60px;
}
.left li {
	display:inline-block;
	margin-right:20px;
}
.left a:hover {
	text-decoration:underline;
}
.right {
	margin-top:35px;
}
.icon {
	padding:0;
}
/*ИНФО*/

/*ПРО НАС*/
.article {
	max-width:1000px;
	width:100%;
	margin:0 auto;
	padding-bottom:30px;
}	
.article p {
	text-indent:25px;
	font-size:1.000em;
}
.article h2 {
	text-align:center;
}
/*ПРО НАС*/

/*ПОРТФОЛИО*/
.papki {
	max-width:670px;
	width:100%;
	margin:0 auto;
	text-align:center;
}
.papki img {
	max-width:200px;
	width:100%;
}
.button_p {
	max-width:80px;
	width:100%;
	height:auto;
	border-radius:5px;
	color:white;
	background-color:black;
	cursor:pointer;
	margin:5px 20px;
}

.hovergallery {
	max-width:1000px;
	width:100%;
	margin:0 auto;
}
.hovergallery img{
-webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
-o-transform:scale(0.8); /*Opera: масштабирование*/
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
-o-transition-duration: 0.5s; /*Opera: длительность анимации*/
opacity: 0.7; /*Начальная прозрачность изображений*/
margin: 0 10px 5px 0; /*Интервалы между изображениями*/
width:47%;
}
.hovergallery img:hover{
-webkit-transform:scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
}
/*ПОРТФОЛИО*/

/*КОНТАКТЫ*/
.articl {
	max-width:1000px;
	width:100%;
	margin:0 auto;
}	
.frame {
	margin-bottom:30px;
}
iframe {
	max-width:1000px;
	width:100%;
	height:auto;
	border:none;
}
.contac {
	float:left;
	max-width:300px;
	width:100%;
	margin:5px;
}
.contac h1, .form h1 {
	margin-top:50px;
	text-align:center;
	color:#192129;
}
.contac ul {
	list-style-type:none;
}
.form {
	max-width:650px;
	width:100%;
	float:right;
	margin-bottom:20px;
}
input {
	max-width:190px;
	width:100%;
	max-height:30px;
	height:100%;
	margin-right:10px;
	margin-bottom:5px;
	padding:5px;
	box-shadow:inset 0 0 5px black;
	border-radius:5px;
}
textarea {
	margin-top:5px;
	max-width:650px;
	width:100%;
	height:100px;
	box-shadow:inset 0 0 5px black;
	border-radius:5px;
}
.button {
	width:100px;
	height:30px;
	background-color:#000;
	color:white;
	cursor:pointer;
	border:none;
}
.button:hover {
	background-color:#0000FF;
}
/*КОНТАКТЫ*/

/*ОТЗЫВЫ*/
.reviews {
	max-width:820px;
	width:100%;
	margin:0 auto;
}
.reviews h1 {
	margin-top:50px;
}
.reviews_left {
	max-width:400px;
	width:100%;
	padding-left:10px;
	border:1px solid black;
	border-radius:10px;
	box-shadow:inset 0 0 5px black;
	background-color:rgba(30,144,255,0.3);
}
.reviews_left h4, .reviews_right h4 {
	text-decoration:underline;
}
.reviews_left p {
	text-indent:20px;
}
.reviews_right {
	max-width:400px;
	width:100%;
	padding-left:10px;
	margin:30px 0 30px 400px;
	border:1px solid black;
	border-radius:10px;
	box-shadow:inset 0 0 5px black;
	background-color:rgba(50,205,50,0.3);
}
textarea {
	font-family:Candara;
}
.forma {
	max-width:650px;
	width:100%;
	margin:0 auto;
}
/*ОТЗЫВЫ*/

/*НОВОСТИ*/
.new {
	max-width:800px;
	width:100%;
	margin:10px auto;
	padding:10px;
	text-align:center;
	border:1px solid black;
	border-radius:10px;
	background-color:rgba(50,205,50,0.3);
}
.new a {
	color:blue;
}
.new a:hover {
	text-decoration:underline;
}
.new img {
	width:50%;
}
.news {
	max-width:800px;
	width:100%;
	margin:10px auto;
	padding:10px;
	text-align:center;
	border:1px solid black;
	border-radius:10px;
	background-color:rgba(30,144,255,0.3);
}
.news a {
	color:blue;
}
.news a:hover {
	text-decoration:underline;
}
.news img {
	width:50%;
}
/*НОВОСТИ*/

/*КАРТА*/
.maps {
	max-width: 400px;
	width:100%;
    margin: 0 auto;
	list-style-type:none;
}
.maps a:hover {
	text-decoration:underline;
}
.maps ul{
	list-style-image:url(images/gal.png);
}
.blue ul{
	list-style-image:url(images/gall.png);
}
/*КАРТА*/

/*СОЗДАНИЕ САЙТОВ*/
.viz {
	text-align:center;
}
.viz-text {
	max-width:800px;
	width:100%;
	margin:0 auto;
	padding-bottom:20px;
	text-indent:30px;
}
.viz-list {
	max-width:800px;
	width:100%;
	margin:0 auto;
	padding-bottom:20px;
}
.sit {
	max-width:600px;
	width:100%;
	margin:0 auto;
	padding-bottom:20px;
	font-size:1.000em;
	list-style-image:url(images/galochka.png);
}
.sit a:hover{
	text-decoration:underline;
}
/*СОЗДАНИЕ САЙТОВ*/





/*АДАПТИВНОСТЬ*/




nav::after {
content: "";
display: table;
clear: both;
}

nav a {
display: block;
text-decoration: none;
color: #fff;
padding: 0.8em;
}

.mobile-nav {
display: none;
}

.main-nav {
list-style: none;
padding: 0;
margin: 0;
}

.main-nav li {
display: inline-block;
}

.open-nav {
float: left;
}

.close-nav {
float: right;
}

@media (max-width: 790px) {

.mobile-nav.open-nav,
.main-nav:target > li,
.main-nav:target ~ .close-nav {
display: block;
}

.main-nav li,
.main-nav:target ~ .open-nav {
display: none;
}

.main-nav {
height: 0;
transition: all 0.5s linear;
}

.main-nav:target {
display: block;
height: 230px;
}

}