.container-flex {
  margin: 1% 7%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.col-flex {
  margin: 20px 20px;
  flex-grow: 0;
  align-content: stretch;
}
.col-flex-right {
  flex-grow: 1;
}

.col-flex-right img {
  width: 100%;
}
h1,
h2,
h3,
li {
  padding: 10px 0;
}

p {
  padding: 5px 0;
  text-align: justify;
  text-indent: 30px;
}
.col-flex-left {
  min-width: 100px
  
}
.links {
  position: fixed;
  margin-top: 50px;
  padding: 5px 0;
  list-style: none;
  min-width: 100px;
  border: 1px solid #000;
  border-radius: 10px;
}

.links li {
  text-align: center;
  transition: 100ms ease-in-out;
  border: 2px solid white;
}

.links li:hover {
  border-bottom-color: #29c5e6;
  border-top-color: #29c5e6;
  border-radius: 20px;
  cursor: pointer;
  color: indianred;
}

.text-center {
  text-align: center;
}
agm-map {
  height: 350px;
}
@media screen and (max-width: 500px) {
  .links {
  position: static;
  margin: 5px;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  border: 0;
//  position: absolute;
  }
  .links li {
    flex-basis: 23%;
    border-bottom-color: #29c5e6;
  }
  .container-flex {
    flex-direction: column;
}

}