<div class="outer-wrapper container">
  <div class="s-wrap s-type-2" role="slider">
    <div class="caption">
      <h1 class="text-center">Join up</h1>
      <h1 class="text-center">&</h1>
      <h1 class="text-center">Find your inspiration</h1>
      <div *ngIf="!(auth.user$ | async)" (click)="login()" class="btn get-started">GET STARTED</div>
    </div>
    <ul class="s-content">
      <li class="s-item s-item-1"></li>
      <li class="s-item s-item-2"></li>
      <li class="s-item s-item-3"></li>
      <li class="s-item s-item-4"></li>
      <li class="s-item s-item-5"></li>
    </ul>
  </div>
</div>
<div class="section-wrap text-justify">
  <h1 class="text-center">Welcome </h1>
  <div class="section-content greeting text-justify">
    <h2>Hello. Thanks for taking your time.</h2>
    <p class="secondary-heading">Well actually this app isn't meant to meet the needs of any user... So I don't know what to write here. Ok, a brief overview.</p>
    <p class="secondary-heading"> This is a single page application made with angular and firebase. While I haven't finished, it has some back-end as for example you can register with your google account and upload photos. Yet I'd better add lazy loading and infinite scrolling, but <a href="https://cs8.pikabu.ru/post_img/2017/12/09/6/1512811497134326179.jpg"></a>it takes a lot of time. And a bit more of Samuel L.Ipsum. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. Didn't expect anyone to read this.</p>
    <p class="secondary-heading"> Anyway hope you enjoy it and I will get a job. Let's get back on track.</p>
    <div *ngIf="!(auth.user$ | async)" (click)="login()" class="btn get-started ">
      <h4>Sign up</h4>
    </div>
  </div>
</div>
  <div class="wrapper section-wrap flex-cont" [ngStyle]="{'backgroundColor': color[n-1]}">
    <div class="menu-wrapper text-center">
   <div class="benefits-caption text-center">Join our team & enjoy the benefits</div>
      <button class="menu-btn" has-ripple="true" (click)="openedMenu = !openedMenu" [ngClass]="{'clicked': openedMenu}">
    <i></i>
    <i></i>
    <i></i>
    <span class="ripple"></span>
  </button>
      <ul class="menu" [ngClass]="{'open': openedMenu }">
        <li class="menuitem-wrapper">
          <div class="icon-holder">
            <a class="menu-item" (click)="n = 1; changeDisplayed(n); openedMenu = !openedMenu">
            <i class="material-icons">home</i>
        </a>
          </div>
          <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
        </li>
        <li class="menuitem-wrapper">
          <div class="icon-holder">
            <a class="menu-item" (click)="n = 2; changeDisplayed(n); openedMenu = !openedMenu">
            <i class="material-icons">face</i>
        </a>
          </div>
          <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
        </li>
        <li class="menuitem-wrapper">
          <div class="icon-holder">
            <a class="menu-item" (click)="n = 3; changeDisplayed(n); openedMenu = !openedMenu">
            <i class="material-icons">android</i>
        </a>
          </div>
          <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
        </li>
        <li class="menuitem-wrapper">
          <div class="icon-holder">
            <a class="menu-item" (click)="n = 4; changeDisplayed(n); openedMenu = !openedMenu">
            <i class="material-icons">shopping_cart</i>
        </a>
          </div>
          <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
        </li>
        <li class="menuitem-wrapper">
          <div class="icon-holder">
            <a class="menu-item" (click)="n = 5; changeDisplayed(n); openedMenu = !openedMenu">
            <i class="material-icons">room</i>
        </a>
          </div>
          <svg class="circle-holder">
        <circle r="88" cx="50%" cy="50%" fill="none">
        </circle>
      </svg>
        </li>
      </ul>
    </div>
    <div [ngSwitch]="displayed" class="text-center benefits">
      <div *ngSwitchCase="1">
        <p><b>Life assurance.</b> - We offer cover by the hospital's life insurance scheme throughout your employment with the our team, subject to the rules of the scheme.</p>
      </div>
      <div *ngSwitchCase="2">
        <p><b>Competitive salary.</b> - Highest salary for twiddling your thumbs.</p>
      </div>
      <div *ngSwitchCase="3">
        <p><b>Work with cutting-edge technology only using modern approaches at the frontiers of knowledge.</b></p>
      </div>
      <div *ngSwitchCase="4">
        <p><b>Brand Exposure</b> - Work alongside one of the most respected, trusted and recognised brands in the UK, a heritage brand with strong values, clear goals and a long term ambition.</p>
      </div>
      <div *ngSwitchCase="5">
        <p><b>Gym membership.</b> - Discounted membership at  Soho Gym (Earl’s Court) at a cost of £15 per month.</p>
      </div>
      <ng-template ngSwitchDefault>Enjoy the benefits of working with us.<!--I found this on <a href="https://codepen.io/wbarahona/pen/vLoyOb">codepen</a> and noticed that it's easily implemented in angular.--> Just click the button.</ng-template>
    </div>

  </div>
