body {
	background-color: #e2e2e2;
}
a:hover {
	text-decoration: underline;
}
						/*Logo*/
.container {
	position: absolute;
	top: 0;
    right: 0;
    left: 0;
	margin: auto;
	width: 1065px;
	background: white;
}
.logo-cont {
    position: relative;
}
.line1 {
	background-color: #4b1b15;
	height: 14px;
	width: 100%;
}
.logo {
    width: 855px;
	height: 101px;
    display: block;
    margin: 0;
    margin-right: 40px;
    border: none;
    display: inline-block;
}
.socials{
	position: relative;
	margin: auto;
	margin-right: 9px;
	display: inline-block;
	width: 33px;
	height: 33px;
/*	background-color: #452622;
*/}

						/*Navigation panel*/

.row-green {
	background-color: #80bb18;
	padding: 1 auto;
	border: 2px solid #80bb18;
	height: 48px;
	width: 100%;
}

  #slidemenu {
    position: relative;
    background-color: #80bb18;
    padding: 5px;
    width: 1038px;
  }

  .navbar-nav {
    margin: 0 20px;
    float: none;
  }
  .navbar-nav > li > a {
	height: 45px;
	color: white;
	font-family: Arial;
	font-size: 14px;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 13px 10px;
    text-decoration: none;
    background-color: #80bb18;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.2s ease 0s;
    -moz-transition: background-color 0.2s ease 0s;
    -ms-transition: background-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s;
  }
  .navbar-nav > li > a span {
    display: block;
    position: relative;
    z-index: 1;
  }
  .navbar-nav > li > a:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 100%;
    top: 0;
    width: 180%;
    height: 180%;
    background-color: white;
    -webkit-transform: skew(45deg) translate3d(0, 0, 0);
    -moz-transform: skew(45deg) translate3d(0, 0, 0);
    -ms-transform: skew(45deg) translate3d(0, 0, 0);
    -o-transform: skew(45deg) translate3d(0, 0, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .navbar-nav > li > a:hover:after {
    -webkit-transform: skew(45deg) translate3d(-100%, 0, 0);
    -moz-transform: skew(45deg) translate3d(-100%, 0, 0);
    -ms-transform: skew(45deg) translate3d(-100%, 0, 0);
    -o-transform: skew(45deg) translate3d(-100%, 0, 0);
    opacity: 1;
  }
  .navbar-nav > li.active,
  .navbar-nav > li:hover {
    margin: -1px 0 -4px;
  }
  .navbar-nav > li.active a {
  	background-color: white;
  	color: black;
  }
  .navbar-nav > li:hover a {

    background-color: #80bb18;
    color: #000000;
    -webkit-transition: background-color 0.2s ease 0.5s;
    -moz-transition: background-color 0.2s ease 0.5s;
    -ms-transition: background-color 0.2s ease 0.5s;
    -o-transition: background-color 0.2s ease 0.5s;
    -webkit-box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 3px 0px rgba(0, 0, 0, 0.1);
  }
  .navbar-nav .dropdown .dropdown-menu {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-left: -110px;
    transform: translateX(20px);
    bottom: auto !important;
    left: 50%;
    width: 220px;
    display: block !important;
    opacity: 1;
    visibility: hidden;
    top: -5000px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav .dropdown .dropdown-menu li.open > a {
    background-color: transparent;
  }
  .navbar-nav .dropdown .dropdown-menu li > a {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Muli', sans-serif;
    padding: 10px 45px 10px 15px;
    color: #000000;
    background-color: #fff !important;
    border-bottom: 1px solid #f0f0f0;
    white-space: normal;
    text-decoration: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
  }
  .navbar-nav .dropdown .dropdown-menu li > a:hover,
  .navbar-nav .dropdown .dropdown-menu li > a:focus {
    background-color: #f2f2f2 !important;
  }
  .navbar-nav .dropdown .dropdown-menu li:last-child > a {
    border-bottom: 0;
  }
  .navbar-nav .dropdown .dropdown-menu .dropdown-menu {
    top: 6px;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    transform: translateX(0);
    -webkit-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -moz-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -ms-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    -o-transition: opacity 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    margin-top: -4px;
  }
  @media (min-width: 1px) {
.navbar-nav>li {
    float: left;
}}

.search-container {
  float: left;
  width: 100%;
  height: 44px;
  background-color: white;
  margin: auto 0;
}
.search-container input {
  display: block;
  width: calc(100% - 50px);
  opacity: 1px;
  background-color: green;
}

.search-container input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: calc(100% - 50px);
  height: 50px;
  padding: 10px;
  border: 0;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  background-color: transparent;
  outline: none;
}

.icon-search {
	background-color: black; 
}
.search-container .btn {
  display: block;
  position: absolute;
  right: 15px;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #5f5f5f;
  cursor: pointer;
  text-decoration: none;
} 
						 /*Content*/
.content {
	padding: 5px 0;
}
.row-content {
margin: 0;
}
.content-left {
	min-height: 1500px;
	width: 248px;
	background-color: white;
}
.content-right {
  background-color: white;
  min-height: 1500px;
  width: 787px;
}
.register {
	width: 100%;
	height: 65px;
	padding-top: 20px;
	text-align: center;	
}
.register-text {
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	display: inline;
}
									/*Cart*/
.basket-cont {
	width: 250px;
	height: 55px;
}
.basket {
	text-align: center;
	width: 50%;
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
}
.basket-counter-1 {
	margin-left: 40px;
	width: 38px;
	height: 38px;
	border-radius: 2px;
	background-color: #92b936;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 5px;
	bottom: 10px;
}
.basket-counter-2 {
	text-align: center;
	color: black;
	float: left;
	margin-bottom: 10px;
}
.price {
	font-family: 'PT Sans', serif;
}

							/*Cart pop-up*/
.descr{
    display:none;
    margin-left:-350px;
    padding:10px;
    margin-top:17px;
    background: white;
    border: 1px solid black;
    width: 359px;
	height: 331px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.descr hr {
	margin: 0 !important;
	border: 1px solid black;
}
.basket-cont:hover .descr{
    display:block;
    position:absolute;
    top: -20px;
    left: 590px;
    z-index:9999;
    width:400px;
}
.descr .cart-inside {
    overflow-y: scroll;
}
.addcount {
	border: none;
	margin-left: 15px;
	margin-top: 5px; 
}
.cart-item>img {
	margin-left: 5px;
	margin-right: 15px; 
}
.cart-item {
	margin: 20px 0;
}
.name-and-price {
	display: inline;
	width: 100px;
	margin: 0;
	padding: 0;
	line-height: 1px;
}
.name-cart {
	width: 101px;
	height: 14px;
	color: #92b936;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.price-cart {
	color: #373737;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
}
.descr .cart-item *{
	display: inline-block;
}
.descr .plus, .descr .minus {
	border: 1px solid black;
	width: 20px;
	height: 26px;
	text-align: center;
	background-color: #f0f0f0;
}
.kol {
	height: 26px;
}
.descr .cart-item input{
	width: 55px;
	height: 26px;
}
.descr .cancel {
	background-color: #80bb18;
	border-radius: 50px;
	margin-top: 10px;
	color: white;
	width: 16px;
	height: 16px;
}
a.nofollow {background-color: black; }
.btn-success {
	width: 95%;
	position: absolute;
	bottom: 5px;	
}

					/*Goods catalog*/
.panel-title {
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	background-color: #f3f3f3;
	width: 250px;
	height: 49px;
	padding: 15px 35px;
}

.catalog {
	position: relative;
	margin: auto;
	width: 100%;
	background: white;
	padding: 0;
	text-indent: 10px;
}
.list-group-item:active {
	background-color: #7fba1e;
	color: white;
}
div#collapse div ul a li:active {
	color: #f3f3f3;
}

.news, .articles {
	background-color: white;
}
.news .caption, .articles .caption {
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
}
.news .date, .articles .date {
color: #767676;
font-family: Arial;
font-size: 13px;
font-weight: 400;
}
.news .title-article, .articles .title-article {

color: #373737;
font-family: Arial;
font-size: 13px;
font-weight: 400;
text-decoration: underline;
}
						 /*Right side*/

 ul.breadcrumb {
    padding: 15px 16px;
    list-style: none;
    background-color: white;
    font-size: 17px;
    margin-bottom: 0px;
}

ul.breadcrumb li {
    display: inline;
    font-family: Arial;
font-size: 14px;
font-weight: 400;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #92b936;
    text-decoration: underline;
}
.currency {
	text-align: right;
	margin-right: 0px;
	margin-top: 15px;
}
select#currency {
	border: none;
	width: 100px;
	height: 20px;
}
.caption-left {
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}
.tools {
	margin: 0 calc(50% - 64px);
}
.tools-inner img{
	margin: 45px calc(50% - 45px);
	margin-bottom: 15px;
}
.tools-inner span {
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 55px;
	background-color: #787878;
	color: white;
	width: 18px;
	height: 18px;
	text-align: center;
}
.popover {
	left: 195px !important;
	top: -165px !important;
	width: 250px;
	color: #373737;
	font-family: Arial;
	font-size: 12px;
}

.partners-inner img {
	margin: 45px calc(50% - 75px)
	margin-bottom: 15px;
}
.caption-center {
	text-align: center;
	color: #373737;
	font-family: Arial;
	font-size: 14px;
}
.description {
	text-align: justify;
	color: #373737;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
}
.layout-buttons .icon {
	margin: 5px;
}
.layout-description {
	color: #373737;
	font-family: Arial;
	font-size: 14px;
	position: relative;
	margin-right: 0px;
}
						 /*GOODS*/





/* BUTTONS TO TOGGLE LAYOUT */
.layout-row {
	margin-bottom: 5px;
}
.sort-row {
	margin-bottom: 5px;
}
#layout-number option, #sorting option {
	width: 200px;
}
.layout-text {
	color: #373737;
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
	font-weight: 400;
	vertical-align: center;
}
.layout-buttons {
	float: right;
	font-size: 30px;
	line-height: 34px;
	color: #ccc;
}

span.caption-goods {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
	color: #373737;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
}

.layout-buttons .active {
	color: #80bb18;
	background: #e2e2e2;
	pointer-events: none;
}

.layout-buttons .glyphicon {
	font-size: 25px;
	margin-left: 5px;
}
.cont-page-number {
	width: 30%;

}
.page-number {
	margin: 0;
	padding: 0;
}
.cont-page-number :nth-child(1) *, .cont-page-number :last-child * {
	background-color: #80bb18;
	border-radius: 50px;
	text-align: center;
	color: white;
	margin: 0 5px;
}
.page-numer :active {
	background-color: #787878;
	border-radius: 50px;
}

/* PRODUCTS */

.products {
	list-style: none;
	margin: 0 -20px 15px 0;
	padding: 0;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
}

.product:hover {
	z-index: 1;
}


/* PRODUCT IMAGE */

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

.product:hover .product-preview {
	transform: translateY(0);
	opacity: 1;
}


/* NAME AND DESCRIPTION */



	.product-wrapper {
		width: 25%;
	}
	.table-layout .product-main {
		width: 80%;
	}
	.table-layout .product-details-wrap {
		width: 20%;
		padding: 0;
		margin: 0;
	}
.product-name {
	height: 50px;
}
.product-text {
	padding-top: 10px;
	height: 130px;
}

.product h2 {
	color: #373737;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: center;
}
.ellipse {
	background-color: #92b936;
	width: 5px;
	height: 5px;
	border-radius: 505px;
	float: left;
	margin-top: 6px;
	margin-right: 4px;
}
.product p {
	color: #373737;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: justify;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
}



/* PRODUCT DETAILS */

.product-details-wrap {
	padding: 0 15px;
	height: 100px;
	background-color: #f3f3f3;
}


.product-price {
	font-size: 12px;
}

.product-price-old {
	font-size: 10px;
	text-decoration: line-through;
	margin-right: .5em;
	color: #ff3535;
}
.product-wrapper a:hover {
text-decoration: none;
}

.product-price-old b,
.product-price-old small {
	color: #888;
}


/* BUTTONS */

.product-buttons-wrap {
	top: 0;
	bottom: 0;
	opacity: 1;
}

.product-buttons-wrap:before {
	content: "";
	float: left;
	height: 100%;
	width: 100%;
}

.buttons {
	position: absolute;
	left: 5px;
	height: 30px;
	padding: 0px;
	margin-top: 5px;


}

.button {
	display: inline-block;
	background: #80bb18;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
	height: 30px; 
}

.button:hover {
	opacity: .9;
}

.to-cart {
	padding: 5px 5px;
}
span.button.favourite {
	margin-left: 10px;
	margin-right: -10px;
}
.favourite {
	font-size: 20px;
	width: 30px;
	height: 30px;
	background: #787878;
	color: white;
	border-radius: 2px;
}
.favourite:hover {
	background-color: #80bb18; 
}
.details {
	padding: auto;
}

/* TABLE LAYOUT */

.table-layout .product-wrapper {
	width: 100%;
}

.table-layout .product {
	overflow: hidden;
	background: #f5f5f5;
}

.table-layout .product-main {
	width: 50%;
	float: left;
	background: #fff;
}

.table-layout .product-photo {
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 0 0 20px;
}

.table-layout .product p {
	height: auto;
	margin-bottom: 20px;
}

.table-layout .product p:after {
	display: none;
}

.table-layout .product-icons {
	position: static;
}

.table-layout .product-icon-text {
	display: inline;
}

.table-layout .product-icons .icon {
	box-shadow: none;
}

.table-layout .product-details-wrap {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0px;
}

.table-layout .product-price {
	display: block;
	margin-bottom: .3em;
}

.table-layout .product-buttons-wrap {
	position: static;
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}

.table-layout .buttons {
	border: 0;
	padding: 0;
	box-shadow: none;
	background: transparent;
}

.icon:before,
.icon:after {
	font-family: Flaticon;
	font-style: normal;
}

.icon-check:before {
	content: "\f101";
}

.icon-clover:before {
	content: "\f102";
}

.icon-cross:before {
	content: "\f103";
}

.icon-heart:before {
	content: "\f104";
}

.icon-list:before {
	content: "\f105";
}

.icon-table:before {
	content: "\f106";
}

.icon-balance:before {
	content: "\f107";
}



.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}















						/*Footer*/
footer {
	background-color: #f7f7f7;
    border: 1px solid #d2d2d2;
	height: 268px;
	width: 1038px;
	margin-top: 40px;
}
.footer {
	margin-left: 35px;
}
footer .caption {
	width: 58px;
	margin: 18px 0 15px 0;
	height: 12px;
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
}
footer .links {
	color: black;
	color: #373737;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
}
.footer-table-1 td {
	width: 132px;
}
.footer-table-1 td:nth-child(1) {
	border-right: 1px solid black;
	width: 140px;
}
.footer-table-1 td:nth-child(2) a {
	padding: 0 12px;
}
.footer-table-2 td {
	width: 170px;
}
.footer-table-2 td:nth-child(1), .footer-table-2 td:nth-child(2) {
	border-right: 1px solid black;
	width: 135px;
}
.footer-table-2 td:nth-child(2) a {
	padding: 0 12px;
}
.contacts {
	margin-top: 20px;
	height: 12px;
	color: #373737;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.logo-bottom {
	position: relative;
	left: 110px;
	top: 30px;
	width: 103px;
	height: 100px;
	
}
.banner-bottom {
	margin-top: 23px;
	width: 412px;
	height: 80px;
}





#thumbs_list{overflow:hidden;float:left;width:392px}
#thumbs_list ul#thumbs_list_frame{list-style-type:none;padding-left:0;overflow:hidden;height:90px}
#thumbs_list li{float:left;height:90px;width:90px;cursor:pointer;border:1px solid #dbdbdb;margin-right:8px;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}
.fancybox-outer,.fancybox-inner{position:relative}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('fancybox_sprite.png')}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}
#fancybox-loading div{width:44px;height:44px;background:url('fancybox_loading.gif') center center no-repeat}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-nav:hover span{visibility:visible}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important}
.fancybox-lock{overflow:hidden !important;width:auto}
.fancybox-lock body{overflow:hidden !important}
.fancybox-lock-test{overflow-y:hidden !important}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('fancybox_overlay.png')}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}
.pb-left-column #image-block{position:relative;display:block;cursor:pointer;padding:5px;border:1px solid #dbdbdb;background:white;width:280px;height: 317px;}
img#bigpic{
	margin-left: calc(50% - 87px);
	margin-top: calc(50% - 95px);
	width: 174px;
	height: 189px; 
}
img#image-block {
	width: 280px;
	height: 317px;
}


ul.list-details-cont {
	list-style: none;
}
li.list-details {
	line-height: 33px;
	font-size: 13px;	
	color: #373737;
}
.image-details {
	margin: 0;
}
.column-without-padding {
	padding: 0;
}
.product-caption {
	font-size: 24px;
}
.in-stock-cont {
	left: 45px;
	top: 7px;
}
.ellipse1 {
	background-color: #92b936;
    width: 7px;
    height: 7px;
    border-radius: 505px;
    margin-top: -5px;
    display: inline-block;
    margin-right: 5px;
}
.favourite-1 {
	font-size: 22px;
	background: white;
	color: #7c7c7c;
}
.product-details-big .product-price-old{
	color: #373737;
	font-family: Arial;
	font-size: 24px;
}
.product-details-big .product-price {
	color: #373737;
	font-family: Arial;
	font-size: 30px;
	font-weight: 700;
	line-height: 18px;
}
.product-details-big .to-cart {
	width: 332px;
	height: 30px;
	border-radius: 2px 1px 1px 2px;
	background-color: #92b936;	
	margin-bottom: 20px;
}
.product-details-big .rating-col *{
	display: inline-block;
}
.product-details-big .rating-col {
	color: #767676;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	padding: 0;
	padding-right: 15px;
}
.product-details-big .left-column {
	margin: 0;
	padding: 0;
	margin-left: -125px;
	width: 240px;
} 
.product-details-big .left-column *{
	margin-left: 20px;
	margin-bottom: 20px;
}
.grey-caption {
	margin-left: 10px;
	color: #7e7e7e;
	font-family: Arial;
	font-size: 18px;
	font-weight: 400;
}
.container-description {
	border: 1px solid #92b936;
	margin-bottom: 40px;
}
hr.grey {
	color: #7e7e7e;
	margin-top: 0px;
	margin-bottom: 5px;
}
ul.pixel-tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.pixel-tabs li {
	display: inline-block;
	line-height: 30px;
	border: 1px solid #999;
	border-bottom: 0 none;
}
ul.pixel-tabs li a.tab {
	border-bottom: 1px solid #999;
	background: #80bb18;
	color: white;
	height: 29px;
}
ul.pixel-tabs li a {
	display: block;
	color: #666;
	text-decoration: none;
	display: inline-block;
	padding: 0px 12px;
	white-space: nowrap;
}
ul.pixel-tabs li a:hover {
	border-bottom: none;
}
/* Активно */
ul.pixel-tabs li a.active-tab {
	background: #fff;
	border-bottom: 0 none;
}
/* Содержание */
.content-tab {
	border: 1px solid #999;
	float: left;
	margin: -1px 0 0 0;
	padding: 20px;
	width: 755px;
}
#content-one *, #content-two {
} 
.name {
	font-family: Arial;
	font-size: 14px;
	/* Text style for "Советский" */
	color: #373737;
	font-weight: 700;
}
.name .guest {
	font-family: Arial;
	font-size: 14px;
	/* Text style for "(Гость)" */
	color: #9e9e9e;
	font-weight: 400;
}
#content-two label {
	width: 180px;              /*5*/
	display: inline-block;       /*6 i'm not sure*/
	text-align: left top; /*7 i'm not sure*/
	margin-bottom: 10px;
}
#content-two input {
	width: 314px;
}
#content-two .textarea {
	height: 150px;
	width: 314px;
	text-align: left;
}
.submit {
	width: 314px;
	margin-top: 20px;
	margin-left: 185px;
}

.icon-search {
	background-color: black; 
}
.search-container .btn {
  display: block;
  position: absolute;
  right: 15px;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #5f5f5f;
  cursor: pointer;
  text-decoration: none;
}