@media (min-width: 768px) {
  .view-more-link {
    display: none;
  }
}
@media (max-width: 767px) {
  .view-more-mobile {
    display: none;
  }
  .view-more-mobile .marker-list {
    margin-top: 0;
    margin-bottom: 0;
  }
  .view-more-link {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
  }
  .view-more-link:hover {
    text-decoration: none;
  }
}
.view-more-link .less {
  display: none;
}
.view-more-link.opened .more {
  display: none;
}
.view-more-link.opened .less {
  display: inline-block;
}
